.process-state {
  margin-left: 1vw;
  margin-right: 1vw;
}
.common-action-button {
  min-height: 4vh !important;
}
.registerResultMessage {
  margin-top: 2vh;
    display: flex; 
    gap:1vw;
    &__text {
      margin-left: 2vw;
      font-weight: 700;
      font-size: medium;
      color: var(--color-text-success);
    }
    &__text.error {
      margin-left: 2vw;
      color: var(--color-text-error);
    }
}