<form  class="registerForm" [formGroup]="registerForm"
  #myForm="ngForm" 
  (keydown.enter)="$event.preventDefault()">
  <div class="registerForm__header">
    <mat-label class="registerFormregisterForm__header-title">{{formProcess==='logIn'? 'Log In':'Sign Up'}} Form</mat-label>
    <a (click)="formProcess==='logIn'? setSignUpFormProcess() : setLogInProcess()" [routerLink]="[]" >{{formProcess==='logIn'? 'Sign Up': 'Log In'}} </a>
  </div>
  <div class="registerForm__process-state" *ngIf="processState">
    <label >{{processState}}</label>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <mat-form-field  class="custom-background">
    <mat-label>UserName</mat-label>
    <input  matInput  type="text" 
      formControlName="userId"
      (keyup.enter)="passwordHTML.focus()">
    <button mat-icon-button matPrefix color="primary">
      <mat-icon fontIcon="perm_identity">close</mat-icon>
    </button> 
    <button *ngIf="userId?.value" matSuffix mat-icon-button aria-label="Clear" (click)="userId?.setValue(null)">
      <mat-icon fontIcon="close">close</mat-icon>
    </button>
    <mat-error  *ngIf="userId?.errors?.['userIdTaken']">
      UserName isn't unique   
    </mat-error>
    <mat-error  *ngIf="userId?.errors?.['minlength']">
      Minimum length is 4 characters  
    </mat-error>
    <mat-error  *ngIf="userId?.errors?.['required']">
      The field is required    
    </mat-error>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Password</mat-label>
    <button  mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <input #passwordHTML matInput 
      formControlName="password" 
      (keyup.enter)="
        passwordHTML.blur();
        formProcess==='logIn'? goToSubmitButton():emailHTML.nativeElement.focus()"
      [type]="hide ? 'password' : 'text'"
    />
    <button *ngIf="passwordCreate?.value" matSuffix mat-icon-button aria-label="Clear" (click)="passwordCreate.patchValue(null)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error  *ngIf="passwordCreate?.errors?.['required']">
      The field is required   
    </mat-error>
    <mat-error  class="resetPassword-error-strong"  *ngIf="passwordCreate?.errors?.['strong']">
      Not safe. Check requirements 
      <mat-icon class="icon-error-details"(click)="showPasswordTip()" matTooltip="Password requirements" >more</mat-icon>
    </mat-error>
  </mat-form-field>
  <a routerLink="/register/restore/" 
    class="registerForm__link-restore"
    *ngIf="formProcess==='logIn'"
  >Restore password</a>
  <mat-form-field *ngIf="formProcess==='signUp'">
    <mat-label>Email</mat-label>
    <input  #emailHTML matInput 
      formControlName="email" 
      (keyup.enter)="goToSubmitButton()">
    <button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="email.patchValue(null)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error  *ngIf="email?.errors?.['required']">
      The field is required   
    </mat-error>
    <mat-error  *ngIf="email?.errors?.['email']">
      Incorrect email 
    </mat-error>
    <mat-error  *ngIf="email?.errors?.['emailTaken']">
     This email is being used 
    </mat-error>
  </mat-form-field>
  <button class="common-action-button" 
    #buttomSubmit
    mat-raised-button type="submit" 
    [disabled]="registerForm.invalid||registerForm.disabled"
    (keyup.enter)="formProcess==='logIn'? logInUser():signUpNewUser(myForm)"
    (click)="formProcess==='logIn'? logInUser():signUpNewUser(myForm)">
    {{formProcess==='logIn'? 'Log In':'Sign Up'}}
  </button>
</form>
<section class="registerResultMessage" *ngIf="signUpResult.type!=='null'">
  <label class="registerResultMessage__text" *ngIf="signUpResult.type==='error'">
    <p *ngIf="signUpResult.userSigned!==undefined">
      {{signUpResult.userSigned===false? 'User has not been signed up':'Error - Email confimation letter has not been sent.\n User has been signed up'}} <br>
    </p>
    Details: {{signUpResult.msg}} 
  </label>
  <button class="registerResultMessage__button" *ngIf="signUpResult.type==='error'" mat-raised-button (click)="signUpResult.type='null'" >Okay</button>
</section>
<section class="resendEmail" *ngIf="emailErrUserData">
  <form  class="resendEmail registerForm" [formGroup]="registerForm" #myForm="ngForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input 
        #emailHTMLResend
        (keyup.enter)="goToResendButton()"
        matInput formControlName="email">
      <mat-error  *ngIf="email?.errors?.['required']">
        The field is required   
      </mat-error>
      <mat-error  *ngIf="email?.errors?.['email']">
        Incorrect email 
      </mat-error>
      <mat-error  *ngIf="email?.errors?.['emailTaken']">
       This email is being used 
      </mat-error>
    </mat-form-field>
    <button mat-raised-button #buttonResend
      class="common-action-button"
      [disabled]="email.invalid||registerForm.disabled"
      (click)="resendEmail()"
      >Resend confirmation
    </button>
  </form>
</section>