@import '../../../styles/mixins_media.scss';
.registerForm {
  margin-top: 10vh;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
  gap: 3vh;
  width: 100%;

  @include mobile {
    margin-left: 0;
    margin-top: 2vh;
  }

  &__header {
    font-size: large;
    display: flex;
    justify-content: space-between;
  }
  .resetPassword-error-strong {
    display: flex;
    align-items: center; 
    margin-top: 2%;
    
   .icon-error-details {
      transform: scale(1.8);
      margin-left: 1vw;
      cursor:pointer
    } 
  }
  &__link-restore {
    width: fit-content;
    padding-left: 2%;
  }
  
}
.registerResultMessage {
  margin-top: 2vh;
  margin-left: 2vw;
  width: 95vw;
  justify-items: center; 
  display: grid; 
  align-items: center; 
  gap:1vw;

  @include mobile {
    flex-direction:column;
  }
  &__text {
    font-weight: 700;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    color: var(--color-text-error);
    @include mobile {
      text-align: center;
      font-weight: 500;
    }
  }
  &__button {
    width: 15vw;
    @include mobile {
      width: 40vw;
    }
  }
}
.resendEmail {
  .resendEmail.registerForm {
    margin-top: 1vh;
  }
}
.mat-mdc-form-field {
  border-width: 1px;
  border-radius: 2%/15%;
  width: 30vw;
  padding: 2%;
  
  @include mobile {
    width: 86vw;
  }
}