@use '../../../../styles/mixins/media.mixin.scss' as *;
@use '../../../../styles/mixins/mat-fields.scss' as formsmixins;
@use '../../../../styles/variables.scss' as vars;
@include formsmixins.ng-deep-form-field-styles;
.registerForm {
  margin-top: 10vh;
  display: grid;
  align-items: center;
  justify-content: center;
 // margin-left: 2vw;
  gap: 3vh;
  width: 100%;

  @include mobile {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2vh;
    width: auto;
  }
  
  &__header {
    font-size: large;
    display: flex;
    justify-content: space-between;
  }
  &_field {
    font-size: vars.$heading---m !important;
    width: 350px !important ;
    height: 88px !important;
    @include mobile {
      width: 92vw !important;
    }
  }

  .resetPassword-error-strong {
    display: flex;
    align-items: center; 
    margin-top: 2%;
    
   .icon-error-details {
      transform: scale(1.8);
      margin-left: 1vw;
      cursor:pointer
    } 
  }
  &__link-restore {
    width: fit-content;
    padding-left: 2%;
  }
  &__button {
    width: 350px ;
    @include mobile {
      width: 92vw !important;
    }
  }
  
}
.registerResultMessage {
  margin-top: 2vh;
  margin-left: 2vw;
  width: 95vw;
  justify-items: center; 
  display: grid; 
  align-items: center; 
  gap:1vw;

  @include mobile {
    flex-direction:column;
  }
  &__text {
    font-weight: 700;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    color: var(--color-text-error);
    @include mobile {
      text-align: center;
      font-weight: 500;
    }
  }
  &__button {
    width: 15vw;
    @include mobile {
      width: 40vw;
    }
  }
}
.resendEmail {
  .resendEmail.registerForm {
    margin-top: 1vh;
  }
}
.log-hint {
  margin-left: 20px;
  margin-top: -14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  color: vars.$base---accent;
}
