<div class="process-state" *ngIf="processState">
  <label >{{processState}}</label>
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<form  class="registerForm" [formGroup]="emailForRestore">
  <mat-label class="header">{{formProcess==='SendEmail'? 'Reset password' : 'Create new password'}}</mat-label>
  <mat-form-field  *ngIf="formProcess==='SendEmail'"  class="email_address">
    <mat-label>Email to send a reset link</mat-label>
    <input matInput formControlName="email" [type]="'email'">
    <button *ngIf="emailForRestore?.value" matSuffix mat-icon-button aria-label="Clear" (click)="email?.patchValue(null)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error  *ngIf="email?.errors?.['required']">
      The field is required   
    </mat-error>
    <mat-error  *ngIf="email?.errors?.['email']">
      Incorrect email 
    </mat-error>
    <mat-error  *ngIf="email?.errors?.['emailNotExists']">
    This email has not been found 
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="formProcess==='ResetPassword'" >
    <mat-label>Password</mat-label>
    <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <input matInput formControlName="passwordCreate" [type]="hide ? 'password' : 'text'">
    <button *ngIf="passwordCreate?.value" matSuffix mat-icon-button aria-label="Clear" (click)="passwordCreate.patchValue(null)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error  *ngIf="passwordCreate?.errors?.['required']">
      The field is required   
    </mat-error>
    <mat-error  class="resetPassword-error-strong"  *ngIf="passwordCreate?.errors?.['strong']">
      Not safe. Check requirements 
      <mat-icon class="icon-error-details"(click)="showPasswordTip()" matTooltip="Password requirements" >more</mat-icon>
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="formProcess==='ResetPassword'" >
    <mat-label>Confirm Password</mat-label>
    <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <input matInput formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'">
    <button *ngIf="passwordConfirm?.value" matSuffix mat-icon-button aria-label="Clear" (click)="passwordConfirm.patchValue(null)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error  *ngIf="passwordConfirm?.errors?.['required']">
      The field is required   
    </mat-error>
    <mat-error  *ngIf="passwordConfirm?.errors?.['passowrdDifference']">
      Passwords do not match  
    </mat-error>
  </mat-form-field>

  <mat-label *ngIf="(authService.timer$| async ) != 0 ">Next link could be sent in {{authService.timer$ | async}}</mat-label>
  <div class="button-block">
    <button mat-flat-button class="common-action-button"
      *ngIf="formProcess==='SendEmail'"
      [disabled]="emailForRestore.invalid || (authService.timer$ | async ) != 0 " 
      (click)="resetPasswordPrepare()">
      Reset Password
    </button>
    <button mat-flat-button class="common-action-button"  
      *ngIf="formProcess==='ResetPassword'"
      [disabled]="emailForRestore.invalid" 
      (click)="resetPasswordExecute()">
      Save New Password
    </button>
    <button mat-flat-button class="common-action-button" type="button" routerLink="/register">Back to Log In</button>
  </div>
</form>
