@if (processState) {
  <div class="process-state">
    <label >{{processState}}</label>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
}
<form  [formGroup]="emailForRestore" (keydown.enter)="$event.preventDefault()">
  <mat-label class="header">{{formProcess==='SendEmail'? 'Reset password' : 'Create new password'}}</mat-label>
  @if (formProcess==='SendEmail') {
    <mat-form-field   class="email_address">
      <mat-label>Email to send a reset link</mat-label>
      <input #emailHTML
    (keyup.enter)="
    emailHTML.blur();"
        matInput formControlName="email" [type]="'email'"
        />
        @if (email?.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="email?.patchValue(null)">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (email?.errors?.['required']) {
          <mat-error >
            The field is required
          </mat-error>
        }
        @if (email?.errors?.['email']) {
          <mat-error >
            Incorrect email
          </mat-error>
        }
        @if (email?.errors?.['emailNotExists']) {
          <mat-error >
            This email has not been found
          </mat-error>
        }
      </mat-form-field>
    }
    @if (formProcess==='ResetPassword') {
      <mat-form-field >
        <mat-label>Password</mat-label>
        <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <input
          (keyup.enter)="passwordConfirmHTML?.nativeElement.focus()"
          matInput formControlName="passwordCreateFC"
          [type]="hide ? 'password' : 'text'"
          />
          @if (passwordCreate?.value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="passwordCreate?.patchValue(null)">
              <mat-icon>close</mat-icon>
            </button>
          }
          @if (passwordCreate?.errors?.['required']) {
            <mat-error >
              The field is required
            </mat-error>
          }
          @if (passwordCreate?.errors?.['strong']) {
            <mat-error  class="resetPassword-error-strong" >
              Not safe. Check requirements
              <mat-icon class="icon-error-details"(click)="showPasswordTip()" matTooltip="Password requirements" >more</mat-icon>
            </mat-error>
          }
        </mat-form-field>
      }
      @if (formProcess==='ResetPassword') {
        <mat-form-field >
          <mat-label>Confirm Password</mat-label>
          <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <input #passwordConfirmHTML
            matInput formControlName="passwordConfirm"
            [type]="hide ? 'password' : 'text'"
            (keyup.enter)="passwordConfirmHTML.blur()"
            />
            @if (passwordConfirm?.value) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="passwordConfirm?.patchValue(null)">
                <mat-icon>close</mat-icon>
              </button>
            }
            @if (passwordConfirm?.errors?.['required']) {
              <mat-error >
                The field is required
              </mat-error>
            }
            @if (passwordConfirm?.errors?.['passowrdDifference']) {
              <mat-error >
                Passwords do not match
              </mat-error>
            }
          </mat-form-field>
        }

        @if ((authService.timer$| async ) != 0 ) {
          <mat-label>Next link could be sent in {{authService.timer$ | async}}</mat-label>
        }
        <div class="button-block">
          @if (formProcess==='SendEmail') {
            <button mat-raised-button class="common-action-button"
              #submitButtonHTML
              [disabled]="emailForRestore.invalid || (authService.timer$ | async ) != 0 "
              (click)="resetPasswordPrepare()"
              (keyup.enter)="resetPasswordPrepare()"
              >
              Reset Password
            </button>
          }
          @if (formProcess==='ResetPassword') {
            <button mat-raised-button class="common-action-button"
              #submitButtonSaveNewPasswordHTML
              [disabled]="emailForRestore.invalid"
              (click)="resetPasswordExecute()"
              (keyup.enter)="resetPasswordExecute()">
              Save New Password
            </button>
          }
          <button mat-raised-button class="common-action-button" type="button" routerLink="/register">Back to Log In</button>
        </div>
      </form>
