@import '../app/styles/mixins_media.scss';
.header {
  display: flex;
  justify-content: space-between;
  padding-right: 1%;
  padding-left: 1%;
  
  &__app_name {
    margin: 0; 
    color: aliceblue;
    @include mobile {
      display: none;
    }

    &-mobile {
      color: aliceblue;
      display: none;
      @include mobile {
        display: unset;
      }
    }
  }

  &__logging_links{
    color: aliceblue;
    display: flex;
    gap:1vw;
    a {
      margin-top: 1.5%;
    }
}
.common-action-button {
  margin-top: 0.5vh;
  min-height: 4vh;
  font-size: medium !important;
  @include mobile {
    min-height: unset;
    font-size: smaller !important;
    margin-left: 1%;
    margin-bottom: 0.5vh;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 30vw;
  }
 }
 }
