<header class="header">
  <div class="header-admin">
    <p class="header__app_name">real-time quotes dashboard angular ver {{myVer}}</p>
    <p class="header__app_name-mobile">real-time quotes<br/></p>
  </div>
  <div class="header__logging_links">
    <a routerLink="/register" *ngIf="(user$ | async)?.userId==='logout'||''" >LogIn/SignUp</a>
    <button class="common-action-button"
      [matMenuTriggerFor]="menu"  
      *ngIf="(user$ | async)?.userId!=='logout'||''" 
      mat-raised-button >
      <mat-icon  fontIcon="perm_identity">close</mat-icon>
      {{(user$ | async)?.userId|titlecase}}
      <mat-icon iconPositionEnd  fontIcon="more_vert" prefix >more_vert</mat-icon>
    </button>
  </div>
</header>

<mat-menu #menu="matMenu">
  <button *ngIf="(user$ | async)?.role==='admin'" mat-menu-item routerLink="/admin">
    <mat-icon>security</mat-icon>
    <span>Admin Panel</span>
  </button>
  <button mat-menu-item routerLink="/register/logout/:logout">
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </button>
  <button mat-menu-item routerLink="/register/logout/:logout">
    <mat-icon>login</mat-icon>
    <span>LogIn/SignUp</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
