.header {
  display: flex;
  justify-content: space-between;
  padding-right: 1%;
  padding-left: 1%;
  
  &__app_name {
    margin: 0; 
    color: aliceblue;
  }

  &__logging_links{
    color: aliceblue;
    display: flex;
    gap:1vw;
    a {
      margin-top: 1.5%;
    }
    &__logged-button {
      margin-top: 0.3vh;
      transition: var(0.2);
      background-size: 200% auto;
      color: white !important;          
      box-shadow: 0 0 20px var(white);
      border-radius: 3%/15%;
      margin-left: 1vw;
      font-family:cursive;
      background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
      font-size: medium;
      font-family: unset;
    }
}
}
