@use '../../../../styles/mixins/media.mixin.scss' as *;
@use '../../../../styles/mixins/mat-fields.scss' as formsmixins;
@include formsmixins.ng-deep-form-field-styles;
.filter-field {
  border: unset !important;
  background-color: unset !important;
  width: 350px;
  margin-left: 12px;
  @include mobile {
    width: 70vw;
    margin-left: 6px;
    height: 66px;
    margin-top: -10px;
  }
}
.reload-button {
  @include mobile {
    margin-bottom: 20px !important;
    height: 40px !important;
    max-height: unset !important;
    margin-left: 12px !important;
  }
  & > mat-icon {
    margin: unset !important;
    transform: scale(1.2);
  }
  &_label {
    @include mobile {
      display: none !important;

    }
  }
}
.common-action-button {
  min-height: 4vh;
  font-size: medium !important;
  @include mobile {
    min-height: unset;
    max-height: 4vh;
    font-size: smaller !important;
    margin-left: 1%;
    margin-bottom: 0.5vh;
    padding-left: 2%;
    padding-right: 2%;
    &.desktop {
      display: none;
    }
  }
}
.table-container {
  margin-left: 2vw;
  margin-right: 2vw;
  @include mobile {
    min-height: unset;
    font-size: smaller !important;
    margin-left: unset;
  }
  .table_header {
    @include mobile {
      visibility: collapse !important;
    }

  }
  @at-root {
    td {
      @include mobile {
        font-size: 12px !important;
        display: grid;
        border: none !important;
      }
    }
    th {
      @include mobile {
        display: none;
      }
    }
    .mat-column-action {
      min-width: 150px;
      @include mobile {
        display: none;
      }
    }
    .desktop-buttons {
      @include mobile {
        height: 0vh !important;
      }
    }
    .mobile-buttons {
      display: none;
      @include mobile {
        display: inherit;
      }
    }
  }
  &__mobile-column-name {
    display: none;
    @include mobile {
      display: initial;
      font-weight: 700 !important ;
    }
  }
  &__row_with_actions {
    @include mobile {
      border-bottom: 2px groove gray;
      display: inline-flex;
      width: 90vw !important;
      opacity: 0.7;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      color: rgb(5, 89, 186);
    }
  }
}
.menu-context {
  flex-direction: column;
  font-size: small;
  min-width: 15vw;
  padding: 5%;
  background-color: #fff;
  border-radius: 10%/10%;
  @include mobile {
    min-width: 50vw;
  }

  &-item {
    cursor: pointer;
    border: none;
    user-select: none;
    width: 100%;
    min-width: 15vw;
    min-height: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    background-color: #fff;

    &:first-child {
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 5px;
    }
    &:hover {
      background-color:#cedef7;
    }
    &-icon {
      margin-right: 15px;
      @include mobile {
      }
    }
  }
}

