@use '../src/app//styles/mixins_media.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --contentWidth :44vw;

  --color-text-dark: #191a23;
  --color-text-light:#FFFFFF;
  --color-text-header:#53565b;
  --color-text-error: #e75a5a;
  --color-text-success:  #435dc3;
  --background-color:rgb(202, 218, 224);

  --boxShadowColor:rgb(16, 97, 81);
  --mobile-font-size:12px;
  
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-large: 45px;

  --shadow:0 5px 0 0 var(--color-dark-alt);

  --transition-duration: 0.5s;
}
* {
  font-family:'Poppins';
  font-style: normal;

}
body{
  background-color: var(--background-color);
  margin: 0; 
}
html, body { height: 100%; }

.mat-mdc-snack-bar-container {
  white-space: pre-wrap;

  &.success-snackBar {
    --mat-snackbar-container-color: #2196f3;
    --mat-snackbar-supporting-text-color: #030303;
    max-width: 96vw !important;

  }
  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    --mat-snack-bar-button-color:#fff;
  }
  &.error-snackBar {
    --mat-snackbar-container-color: var(--color-text-error);
    --mat-snackbar-supporting-text-color: #030303;
    max-width: 96vw !important;
  }
  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    --mat-snack-bar-button-color:#fff;
  }
}

.common-action-button {
  // background-size: 200% auto !important;
  color: white !important;          
  border-radius: 3%/15% !important;
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%) !important;
  font-size: large !important;
  margin-left: 2%;
  &.cdk-focused {
    transform: scale(1.05);
    transition: var(--transition-duration);
  } 
  &[disabled=true] {
    opacity: 50%;
  }
  &.cancel {
    background-image: linear-gradient(to right, #d7d1d1 0%, #b3adad  51%, #8f8c8c  100%) !important;
    color: #383434 !important;
  }
}

.mat-mdc-form-field {
  border-width: 1px;
  border-radius: 2%/15%;
  width: 30vw;
  padding: 2%;
  background-color:#91add0!important;
}
.mat-mdc-text-field-wrapper{
  background-color:var(--background-color) !important;
}
.mdc-text-field__input {
  background-color:var(--background-color) !important;
}
.form-dialog {
  @include mobile {
    max-width: 100vw !important;
    min-width: 96vw !important;
  }
}  