@use '../../../../styles/mixins/media.mixin.scss' as *;
@use '../../../../styles/mixins/mat-fields.scss' as formsmixins;
@include formsmixins.ng-deep-form-field-styles;
.process-state {
  margin-left: 1vw;
  margin-right: 1vw;
  @include mobile {
    margin-top: 70vh;
  }
}
.common-action-button {
  min-height: 4vh !important;
}
.registerResultMessage {
  margin-left: 2vw;
  @include mobile {
    margin-top: 70vh !important;

  }
  &__text {
    margin-top: 2vh;
    font-weight: 700;
    font-size: medium;
    color: var(--color-text-success);
    @include mobile {
      font-weight: 500;
      }
    }
    &__text.error {
      margin-left: 2vw;
      color: var(--color-text-error);
    }
}